<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>!-->

<header class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container" style="width: 100%">
      <div class="navbar-brand" id="logo">
        <%= link_to "Raddit", root_path %>
      </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Submit Link', new_link_path%></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
            <% else %>
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <li><%= link_to 'Sign_in', new_user_session_path %></li>
              </ul>
          <% end %>
        </nav>
    </div>
  </div>
</header>

<div class="container" id="main_content">
  <div class="col-md-9 center-block" id="container" >
    <%= yield %>
  </div>
</div>


</body>
</html>
